<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = 'stylesheet' href = '/public/styleHome.css' />
</head>
<body>
    
    <h1>SZA HOME PAGE</h1>
    <img src = '/public/screen-1.jpg'>


    <a href = "/secondP.html"> About Page</a>
    <a href = '/thirdP.html'> Works Page</a>
    <a href = '/fourPhotoP.html'>Photo Page</a>

</body>
</html>
