<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = 'stylesheet' href = /public/styleAboutP.css />
</head>
<body>
    
   <h1> SZA MAIN PAGE</h1>
   <p>Solána Imani Rowe (born November 8, 1989), known professionally as SZA, is an American singer. Born in St. Louis, Missouri, she began making music in the early 2010s, releasing two extended plays before signing with the hip hop record label Top Dawg Entertainment, through which she released Z (2014), her third EP and first retail release.That same year, she co-wrote "Feeling Myself" with Nicki Minaj and Beyoncé. In 2016, she was featured on Rihanna's song "Consideration".</p>
   <img src = '/public/95a748ada4063383ecdd0b9c4eeb42f63b199eaf.jpg'>

</body>
</html>